<div class="message"> <%= flash_messages %></div>

<h1>Organization</h1>

<!-- <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Room</th>
      <th colspan="2"></th>
      <th>Task</th>
    </tr>
  </thead> -->
  <div class="container">
    <% @groups.each do |group| %>

        <strong><%= group.name %>
        <%= group.room %>
        <%= group.task %></strong>
        <br>
        <div>
          <% @people.each do |person| %>
          <% if person.group_id == group.id %>
          <% if person.sensei == true %>
          <span class="sensei_red"><%= best_in_place person, :name %></span>         <%= best_in_place person, :sensei, :as => :select, :collection => {"1" => "sensei", "2" => " "} %>
          <% else %>
<%= best_in_place person, :name %>         <%= best_in_place person, :sensei, :as => :select, :collection => {"1" => "sensei", "2" => " "} %>
          <% end %>
          <br>
          <% end %>
          <% end %>
        </div>
        <%= link_to 'Edit', edit_group_path(group) %>
        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
    <% end %>
</div>
<!-- </table> -->

<br>

<%= link_to 'New Group', new_group_path %>

<h1>Listing People</h1>

    <% if @groups.size == 0 %>
<p>We need TWO groups to use the application. </p>
<p>Please create two groups.<p>
    <% elsif @groups.size == 1 %>
<p>You need TWO groups to use the application. </p>
<p>Please create one more group.<p>
    <% else %>
<%= link_to 'Random', randomize_path%>
    <% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Email</th>
      <th>Tel</th> -->
      <th>Group</th>
      <th>Sensei</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <!-- <td><%= person.email %></td>
        <td>0<%= person.tel %></td> -->
        <td><%= person.group_id %></td>
        <td><%= person.sensei %></td>
      </tr>
    <% end %>
  </tbody>
</table>
