<div class="message"><%= flash_messages %></div>
<div class="container">
<div class="row">
<h1>RAND'APP</h1>
</div>
     <div class="row">
          <% @groups.each do |group| %>
          <div class="inline_display group">
            <div class="head">
              <div>
               <strong><%= group.name %>
                    <%= group.room %><br>
                  </div>
                    <%= group.task %></strong>
                  </div>

               <div>

                    <% @people.each do |person| %>
                      <% if person.group_id == group.id %>
                      <% if person.sensei == true %>
                        <li><span class="red"><%= person.name %></span><%= best_in_place person, :sensei, :as => :select, :collection => {"1" => "Sensei", "2" => "Cancel"} %></li>
                        <% else %>
                        <li><%= person.name %><%= best_in_place person, :sensei, :as => :select, :collection => {"1" => "Sensei"} %></li>

                        <% end %>
                        <br>
                      <% end %>
                    <% end %>

               </div>
               <%= link_to edit_group_path(group), class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  <% end %>
               <%= link_to group, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
  <% end %>
               <br>
          </div>
          <% end %>

<div class="inline_display div_new">
<%= link_to new_group_path, class: "btn btn-new" do%>
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  <% end %>
  </div>

     </div>
<br>
<br>

<div class="div_random">
    <% if @groups.size == 0 %>
          <p>We need TWO groups to use the application.</p>
          <p>Please create two groups.</p>

    <% elsif @groups.size == 1 %>
          <p>You need TWO groups to use the application.</p>
          <p>Please create one more group.</p>
    <% else %>
          <%= link_to 'RANDOM', randomize_path%>
    <% end %>
    </div>

<h1>Listing People</h1>

                              <% @people.each do |person| %>
                              <%= best_in_place person, :name %><br>

                              <% end %>
</div>

<script type="text/javascript">
$(document).ready(function() {
/* Activating Best In Place */
jQuery(".best_in_place").best_in_place();
});
</script>
