<div class="message"><%= flash_messages %></div>
<div class="container">
<header class="row">
<h1 class="hidden-xs h1-sm">RAND'APP</h1>
<h1 class="hidden-sm hidden-md hidden-lg h1-xs">RAND'APP</h1>
<span class="link_people"><%= link_to 'Listing People', people_path%></span>
</header>
     <div class="row">
          <% @groups.each do |group| %>
          <div class="inline_display col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default group ">
            <div class="panel-heading">
               <h3 class="panel-title"><%= group.name %>
                    <%= group.room %></h3>
                    <h4 class="panel-title"><%= group.task %></h4>
                  </div>

               <div class="panel-body">

                    <% @people.each do |person| %>
                      <% if person.group_id == group.id %>
                      <% if person.sensei == true %>
                        <div class="panel"><span class="sensei"><%= person.name %></span><%= best_in_place person, :sensei, :as => :select, :collection => {"1" => "Sensei", "2" => "Cancel"} %></div>
                        <% else %>
                        <div class="panel panel"><%= person.name %><%= best_in_place person, :sensei, :as => :select, :collection => {"1" => "Sensei"} %></div>

                        <% end %>
                      <% end %>
                    <% end %>

               </div>
               <%= link_to edit_group_path(group), class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  <% end %>
               <%= link_to group, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
  <% end %>
               <br>
               </div>
          </div>
          <% end %>


<div><%= link_to new_group_path, class: "btn btn-new" do%>
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  <% end %></div>

     </div>

    <% if @groups.size >= 2 %>
<div class="div_random">
          <%= link_to 'RANDOM', randomize_path%>
  </div>
    <% elsif @groups.size == 1 %>
    <div class="random_condition col-xs-12 col-sm-6 col-sm-offset-3">
          <p>You need TWO groups to use the application.</p>
          <p>Please create one more group.</p>
          </div>
    <% else %>
    <div class="random_condition col-xs-12 col-sm-6 col-sm-offset-3">
          <p>We need TWO groups to use the application.</p>
          <p>Please create two groups.</p>
        </div>
    <% end %>

</div>

<script type="text/javascript">
$(document).ready(function() {
/* Activating Best In Place */
jQuery(".best_in_place").best_in_place();
});
</script>
